.navigation p {
    text-align: center;
    margin-left: 24px;
}

table.credential-table {
    border-collapse: collapse;
}

table.credential-table tbody tr:nth-child(odd) {
    background-color: #eee;
}

table.credential-table tbody tr:nth-child(even) {
    background-color: #fff;
}

table.credential-table tbody tr:hover {
    background-color: #bbb;
}

table.credential-table td, th {
    padding: 0.6em 0.7em;
    text-align: left;
    white-space: nowrap;
}

table.credential-table th {
    background-color: #444;
    color: white;
}

table.credential-table td.url {
    min-width: 15em;
}

table.credential-table td.username,
table.credential-table td.password {
    min-width: 8em;
}

.password {
    position: relative;
}

.password span.password-real {
    display: none;
}

.password .show-password {
    display: none;

    position: absolute;
    right: 0;
    top: 10px;
    background: powderblue;
    border: 0;
    font-size: 8px;
}

table.credential-table tbody tr:hover .show-password {
    display: inherit;
}

table.credential-table tfoot label {
    display: none;
}

table.credential-table tfoot input {
    width: 100%;
}

table.credential-table tfoot button {
    width: 100%;
}
