body.chrome-bootstrap {
    margin: 14px 17px;
    max-width: 800px;
}

.navigation p {
    text-align: center;
    margin-left: 24px;
}

table.credential-table {
    border-collapse: collapse;
}

table.credential-table tbody tr:nth-child(odd) {
    background-color: #eee;
}

table.credential-table tbody tr:nth-child(even) {
    background-color: #fff;
}

table.credential-table tbody tr.editing {
    background-color: #87CEFA;
}

table.credential-table tbody tr.only-match {
    background-color: #C0D860;
}
table.credential-table tbody tr.only-match:hover {
    background-color: #789048;
}

table.credential-table tbody tr.multiple-match {
    background-color: #ECF081;
}
table.credential-table tbody tr.multiple-match:hover {
    background-color: #FFBE40;
}

table.credential-table tbody tr:hover {
    background-color: #bbb;
}

table.credential-table td, th {
    padding: 0.6em 0.7em;
    text-align: left;
    white-space: nowrap;
}

table.credential-table th {
    background-color: #444;
    color: white;
}

table.credential-table td.url {
    min-width: 15em;
}

table.credential-table td.username,
table.credential-table td.password {
    min-width: 8em;
}

table.credential-table td.priority {
    min-width: 3em;
}

table.credential-table td {
    max-width: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.password {
    position: relative;
}

.password span.password-real {
    display: none;
}

.password .show-password {
    display: none;

    position: absolute;
    right: 0;
    top: 10px;
    background: powderblue;
    border: 0;
    font-size: 8px;
}

table.credential-table tbody tr:hover .show-password {
    display: inherit;
}

table.credential-table tfoot label {
    display: none;
}

table.credential-table tfoot input {
    width: 100%;
}

table.credential-table tfoot button {
    width: 47%;
}

table.form-table {
    width: 100%;
}

table.form-table td:first-child {
    width: 20%;
    vertical-align: top;
}

table.form-table td {
    width: 80%;
}

table.form-table td textarea {
    width: 98%;
    height: 10.2em;
}

table.form-table td output ul {
    margin: 0;
}

#test-urls {
    min-height: 4em;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 3px;
    width: 97%;
}

#test-urls > li {
    padding: 2px;
    margin: 1px;
}

#test-urls > .matched {
    background-color: #C0D860;
}
