.navigation p {
    text-align: center;
    margin-left: 24px;
}

table.credential-table tbody tr:nth-child(odd) {
    background-color: #ccc;
}

table.credential-table tbody tr:nth-child(even) {
    background-color: #eee;
}

table.credential-table td, th {
    padding: 0.6em 0.5em;
    text-align: center;
    white-space: nowrap;
}

table.credential-table th {
    background: lightblue;
    border-color: white;
}

table.credential-table td.url {
    min-width: 15em;
}

table.credential-table td.username,
table.credential-table td.password {
    min-width: 8em;
}

.password {
    position: relative;
}

.password span.password-real {
    display: none;
}

.password .show-password {
    position: absolute;
    right: 0;
    bottom: 0;
    background: powderblue;
    border: 0;
    font-size: 8px;
}

table.credential-table tfoot label {
    display: none;
}

table.credential-table tfoot input {
    width: 100%;
}

table.credential-table tfoot button {
    width: 100%;
}
